@using Framework.Entities.Organization
@{
    ViewBag.Title = "Quản lý sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<ProductCategory> listProductCategory = ViewBag.ResultData;
    string messagRole = ViewBag.ResultMessage;
}
@if (listProductCategory == null)
{
    <h2 class="title">Tổ chức/Quản lý sản phẩm</h2>

    <div class="row">
        <div class="col-md-12">
            @if (string.IsNullOrEmpty(messagRole))
            {
                <h4>Chức năng đang được hệ thống tạm dừng để bảo trì. Vui lòng quay lại sau!</h4>
            }
            else
            {
                <h4>@messagRole</h4>
            }
        </div>
    </div>
}
else
{
    <h2 class="title">Tổ chức/Quản lý sản phẩm</h2>

    <div class="row">
        <div class="row-left">
            @Html.DropDownList("ProductCategoryId", new SelectList(listProductCategory, "ProductCategoryId", "Name"), "-Chọn mục sản phẩm-", new { @id = "listProductCategory" })
        </div>
        <div class="row-right">
            <button type="button" class="btn btn-default btn-sm" id="add">
                <span class="glyphicon glyphicon-plus-sign"></span> Thêm sản phẩm
            </button>
        </div>

    </div>

    <div id="ResultContent">
    </div>
}

@section Scripts
{
    <script src="~/Scripts/Organization/Product.js"></script>
    <script type="text/javascript">
        var params = {
            btnAdd: '#add',
            btnEdit: '.btnEdit',
            btnDelete: '.btnDelete',
            btnUpdatePrice: '.btnUpdatePrice',
            ddlListProductCategory: '#listProductCategory',

            addForm: '#formAdd',
            btnPaging: '.btnPaging',

            urlLoadContent: '@Url.Action("LoadContent", "Product")',
            urlAddProduct: '@Url.Action("Add", "Product")',
            urlEditProduct: '@Url.Action("Edit", "Product")',
            urlDeleteProduct: '@Url.Action("Delete", "Product")',
            urlUpdatePrice: '@Url.Action("UpdatePrice", "Product")',
        }

        var itemProduct = new pageJS.ItemProduct();
        itemProduct.Initialize(params);
    </script>
}
